{% extends 'base.html' %}
{% block title %}我的博客网{% endblock title %}
{% block content %}
<h5>共有{{ blogs|length }}篇博客</h5>
{% for blog in blogs %}
    <h3>标题:<a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
    <p>----------------------------</p>
    <h5>类型：<a href="{% url 'blogs_in_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></h5>
    <h5>作者：{{ blog.author }}</h5>
    <h5>发布时间：{{ blog.create_time|date:'Y-m-d H:n:s' }}</h5>
    <p>{{ blog.content|truncatechars:20 }}</p>
    <hr>
    {% empty %}
        <p>当前尚无博客</p>
{% endfor %}
{% endblock content %}
